<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!-- VSS Framework --> 
    <script src="VSS.SDK.min.js"></script> 

    <title>GitHub Branch Selector</title>
</head>
   <body>
     <script>
         VSS.init({
             explicitNotifyLoaded: false,
             usePlatformScripts: false
         });
    </script>
      <div class="ac-content">
        <div class="github-dev-panel">
          <div class="aui-message aui-message-warning">
            Please link VSTS with your GitHub account: <a href="<%= @url %> " target="_blank">authorization link</a>
          </div>
          <p><a href="/logout">clear settings</a></p>
        </div>
      </div>
   </body>
</html>
