<!DOCTYPE html>
<html lang="en">
  <head>
     <link rel="stylesheet" href="/css/github-app.css" media="all">
  </head>
   <body>
      <div class="ac-content">
        <div class="github-dev-panel">
          <div class="aui-message aui-message-warning">
            Please link VSTS with your GitHub account: <a href="<%= @url %> " target="_blank">authorization link</a>
          </div>
          <p><a href="/logout">clear settings</a></p>
        </div>
      </div>
   </body>
</html>
