<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!-- VSS Framework --> 
    <script src="VSS.SDK.min.js"></script> 

    <title>GitHub Branch Selector</title>
</head>
   <body>
     <script>
         VSS.init({
             explicitNotifyLoaded: false,
             usePlatformScripts: false
         });
    </script>
      <div class="ac-content">
        <div class="github-dev-panel">
          <div class="aui-message aui-message-info">
              <a href="/create_branch">Create a branch in <%= @repo_name[:full_name] %></a></br>
          </div>
          <a href="/logout">clear settings</a>
       </div>
    </div>
   </body>
</html>
