<!DOCTYPE html>
<html lang="en">
  <head>
     <link rel="stylesheet" href="/css/github-app.css" media="all">
  </head>
   <body>
      <div class="ac-content">
        <div class="github-dev-panel">
          <div class="aui-message aui-message-info">
              <a href="/create_branch">Create a branch in <%= @repo_name[:full_name] %></a></br>
          </div>
          <a href="/logout">clear settings</a>
       </div>
    </div>
   </body>
</html>
