<!DOCTYPE html>
<html lang="en">
  <head>
     <link rel="stylesheet" href="/css/github-app.css" media="all">
  </head>
   <body>
      <div class="ac-content">
          <div class="github-dev-panel">
          <p class="title">
            Choose which Repository to create branches in:</br> 
            <% @name_list.each do | val | %>
              <a href="/add_repo?repo_name=<%= val[:full_name] %>"><%= val[:full_name] %></a></br>
            <% end %>
          </p>
          <a href="/logout">clear settings</a>
        </div>
      </div>
   </body>
</html>
