<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!-- VSS Framework --> 
    <script src="VSS.SDK.min.js"></script> 

    <title>Color Control</title>
    <link rel="stylesheet" href="style.css" type="text/css"/>
</head>
   <body>
     <script>
         VSS.init({
             explicitNotifyLoaded: false,
             usePlatformScripts: false
         });
    </script>
      <div class="ac-content">
          <div class="github-dev-panel">
          <p class="title">
            Choose which Repository to create branches in:</br> 
            <% @name_list.each do | val | %>
              <a href="/add_repo?repo_name=<%= val[:full_name] %>"><%= val[:full_name] %></a></br>
            <% end %>
          </p>
          <a href="/logout">clear settings</a>
        </div>
      </div>
   </body>
</html>
