<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
   <body>
      <div class="ac-content">
        <div class="aui-message aui-message-info">
              Thank you for installing GitHub App Plugin for VSTS. Please return to a Work item to create a branch.
        </div>
        <a href="/logout">clear settings</a>
      </div>
   </body>
</html>
