<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!-- VSS Framework --> 
    <script src="VSS.SDK.min.js"></script> 

    <title>Color Control</title>
    <link rel="stylesheet" href="style.css" type="text/css"/>
</head>
 <body>
   <script>
       VSS.init({
           explicitNotifyLoaded: true,
           usePlatformScripts: true
       });
  </script>
      <div class="ac-content">
        <div class="aui-message aui-message-info">
              Thank you for installing GitHub App Plugin for VSTS. Please return to a Work item to create a branch.
        </div>
        <a href="/logout">clear settings</a>
      </div>
   </body>
</html>
